/.godot/
/bin/
/obj/
/.sconsign.dblite
/**/*.sconsign.dblite
/build/
/android/build/
/android/godot_cpp/bin/
/android/godot_cpp/gen/
/android/godot_cpp/
/cb/
*.apk
*.ipa
*.a
*.import
*.tmp
.godot/global_script_class_cache.cfg
addons/gde_gozen/bin/*
!addons/gde_gozen/bin/.gdignore
ios/plugins/UnFalsusVideo/*.a
native/client/bin/*.dll
native/client/bin/*.so
